.home {
  width: 100vw;
  min-height: 100vh;
  background-image: url('/fundo_home.png');
  background-size: cover;
  background-position: center 0%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;

    & > h1 {
      color: white;
      font-size: clamp(3rem, 10vw, 12rem);
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .home > div > h1 {
    font-size: clamp(3rem, 12vw, 10rem);

  }
}

@media (max-width: 480px) {
  .home > div > h1 {
    font-size: 5rem;
}
}

@media (max-width: 380px) {
    .home > div > h1 {
        font-size: 3.5rem;
        padding: 0 1rem;
  }
}
